@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dolce Caffe';
  src: url('../fonts/DolceCaffe-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --main-font: "Dolce Caffe", sans-serif;
  --second-font: "Helvetica", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #fffcf9;
  min-width: 360px;
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
button,
select,
label {
  font-family: var(--main-font);
  border: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 100%;
  padding: 0 80px;
  margin: 0 auto;
}

.hero {
  background: #000 url(../img/hero-bg2x.webp) no-repeat center / cover;
  background-position: right;
  padding-bottom: 101px;
}

.header {
  padding: 28px 0 23px;
  position: relative;
}


.header__logo {
  position: relative;
  z-index: 10;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  position: absolute;
  z-index: 10;
  top: 52px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 826px;
  width: 100%;
}

.header__link {
  font-weight: 400;
  font-size: 32px;
  line-height: 129%;
  color: #fff;
}

.intro {
  padding-top: 83px;
}

.intro__image {
  margin-bottom: 66px;
}

.intro__flex {
  display: flex;
  align-items: center;
  gap: 26px;
  margin-bottom: 19px;
}

.intro__tag {
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  color: #fff;
}

.intro__dot {
  border-radius: 100%;
  width: 12px;
  height: 12px;
  background: #fff;
}

.intro__rating {
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 11px;
  padding: 11px 5px 10px 13px;
  text-align: center;
  max-width: 77px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.intro__description {
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 27px;
  line-height: 140%;
  color: #fff;
  max-width: 711px;
  width: 100%;
  margin-bottom: 60px;
}

.intro__watch {
  display: flex;
  align-items: center;
  gap: 20px;
  width: fit-content;
  padding: 43px 60px 41px 36px;
  border-radius: 86px;
  background: #d11938;
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  color: #fff;
}

.main {
  background: #fff url(../img/main-bg.webp) no-repeat center / cover;
  padding: 111px 0 0;
}

.story {
  margin-bottom: 200px;
}

.story__grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  padding-right: 62px;
}

.story__wrapper {
  max-width: 728px;
  width: 100%;
  padding-top: 32px;
}

.story__title {
  font-weight: 400;
  font-size: 72px;
  line-height: 129%;
  color: #d11938;
  margin-bottom: 10px;
}

.story__text {
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 27px;
  line-height: 140%;
  color: #000;
  margin: 0;
}

.watch {
  overflow: hidden;
  /* margin-bottom: 250px; */
  min-height: 959px;
}

.watch__slider {
  overflow: visible;
}

.watch__title {
  font-weight: 400;
  font-size: 72px;
  line-height: 129%;
  color: #fff;
  margin: 0;
}

.watch__item {
  max-width: 410px;
  width: 100%;
  border-radius: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  transition: 0.3s;
}

.watch__item:before {
  content: '';
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg width='444' height='768' viewBox='0 0 444 768' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_414_1659)'%3E%3Cellipse cx='137.25' cy='685.812' rx='974.837' ry='516.864' transform='rotate(-36.0789 137.25 685.812)' fill='%2386B236' /%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_414_1659' x='-1057.6' y='-374.215' width='2389.7' height='2120.05' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape' /%3E%3CfeGaussianBlur stdDeviation='175' result='effect1_foregroundBlur_414_1659' /%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  width: 100%;
  z-index: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  opacity: 0;
  transition: 0.3s;
}

.watch__item:after {
  content: '';
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg width='410' height='596' viewBox='0 0 410 596' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_414_1564)'%3E%3Cellipse cx='148.556' cy='624.7' rx='377.133' ry='199.958' transform='rotate(-36.0789 148.556 624.7)' fill='%236F952C' /%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_414_1564' x='-528.289' y='0.0136719' width='1353.69' height='1249.37' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape' /%3E%3CfeGaussianBlur stdDeviation='175' result='effect1_foregroundBlur_414_1564' /%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  z-index: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  transition: 0.3s;
}

.watch__item.second:before {
  background-image: url("data:image/svg+xml,%3Csvg width='444' height='768' viewBox='0 0 444 768' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_414_1634)'%3E%3Cellipse cx='137.25' cy='685.812' rx='974.837' ry='516.864' transform='rotate(-36.0789 137.25 685.812)' fill='%23D11938' /%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_414_1634' x='-1057.6' y='-374.215' width='2389.7' height='2120.05' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape' /%3E%3CfeGaussianBlur stdDeviation='175' result='effect1_foregroundBlur_414_1634' /%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
}

.watch__item.second:after {
  background-image: url("data:image/svg+xml,%3Csvg width='410' height='596' viewBox='0 0 410 596' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_414_1598)'%3E%3Cellipse cx='148.556' cy='624.7' rx='377.133' ry='199.958' transform='rotate(-36.0789 148.556 624.7)' fill='%23D11938' /%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_414_1598' x='-528.289' y='0.0136719' width='1353.69' height='1249.37' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape' /%3E%3CfeGaussianBlur stdDeviation='175' result='effect1_foregroundBlur_414_1598' /%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
}

.watch__item.third:before {
  background-image: url("data:image/svg+xml,%3Csvg width='444' height='768' viewBox='0 0 444 768' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_414_1684)'%3E%3Cellipse cx='137.25' cy='685.812' rx='974.837' ry='516.864' transform='rotate(-36.0789 137.25 685.812)' fill='%23720187' /%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_414_1684' x='-1057.6' y='-374.215' width='2389.7' height='2120.05' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape' /%3E%3CfeGaussianBlur stdDeviation='175' result='effect1_foregroundBlur_414_1684' /%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
}

.watch__item.third:after {
  background-image: url("data:image/svg+xml,%3Csvg width='410' height='596' viewBox='0 0 410 596' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_414_1611)'%3E%3Cellipse cx='148.556' cy='624.7' rx='377.133' ry='199.958' transform='rotate(-36.0789 148.556 624.7)' fill='%23720187' /%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_414_1611' x='-528.289' y='0.0136719' width='1353.69' height='1249.37' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape' /%3E%3CfeGaussianBlur stdDeviation='175' result='effect1_foregroundBlur_414_1611' /%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
}

.watch__item.fourth:before {
  background-image: url("data:image/svg+xml,%3Csvg width='444' height='768' viewBox='0 0 444 768' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_414_1709)'%3E%3Cellipse cx='137.25' cy='685.812' rx='974.837' ry='516.864' transform='rotate(-36.0789 137.25 685.812)' fill='%23F58117' /%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_414_1709' x='-1057.6' y='-374.215' width='2389.7' height='2120.05' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape' /%3E%3CfeGaussianBlur stdDeviation='175' result='effect1_foregroundBlur_414_1709' /%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
}

.watch__item.fourth:after {
  background-image: url("data:image/svg+xml,%3Csvg width='410' height='564' viewBox='0 0 410 564' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_414_1536)'%3E%3Cellipse cx='148.555' cy='592.7' rx='332.425' ry='176.253' transform='rotate(-36.0789 148.555 592.7)' fill='%23F58117' /%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_414_1536' x='-489.543' y='0.577148' width='1276.2' height='1184.25' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape' /%3E%3CfeGaussianBlur stdDeviation='175' result='effect1_foregroundBlur_414_1536' /%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
}

@media(min-width: 601px) {
  .watch__item:hover:before {
    opacity: 1;
  }
  
  .watch__item:hover:after {
    opacity: 1;
    background-size: cover;
  }
  
  .watch__item:hover .watch__hover {
    opacity: 1;
    z-index: 11;
  }
  
  .watch__item:hover .watch__main {
    opacity: 0;
    padding-top: 63px;
    padding-bottom: 87px;
    padding-left: 43px;
    padding-right: 43px;
  }
  
  .watch__item:hover {
    max-width: 444px;
  }
}

@media (max-width: 600px) {
  .watch__item.active:before {
    opacity: 1;
  }
  
  .watch__item.active:after {
    opacity: 1;
    background-size: cover;
  }
  
  .watch__item.active .watch__hover {
    opacity: 1;
    z-index: 11;
  }
  
  .watch__item.active .watch__main {
    opacity: 0;
    padding-top: 63px;
    padding-bottom: 87px;
    padding-left: 43px;
    padding-right: 43px;
  }
  
  .watch__item.active {
    max-width: 444px;
  }
}



.watch__top {
  display: flex;
  align-items: center;
  gap: 14px;
  justify-content: flex-end;
  margin-bottom: 243px;
  transition: 0.3s;
}

.watch__main {
  position: relative;
  z-index: 10;
  padding: 34px 26px 58px;
  transition: 0.3s;
}

.watch__hover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 34px 26px 58px;
  opacity: 0;
  z-index: -5;
  transition: 0.3s;
}

.watch__align {
  display: flex;
  justify-content: center;
  margin-bottom: 44px;
}

.watch__suptitle {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 27px;
  line-height: 140%;
  text-align: center;
  color: #fff;
  margin-bottom: 31px;
}

.watch__caption {
  font-weight: 400;
  font-size: 50px;
  line-height: 129%;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0 45px;
}

.watch__description {
  min-height: 250px;
  margin-bottom: 10px;
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #fff;
  padding-left: 16px;
  max-width: 382px;
}

.watch__bottom {
  display: flex;
  align-items: center;
  gap: 25px;
  font-weight: 400;
  font-size: 32px;
  line-height: 129%;
  color: #fff;
}

.watch__hover .watch__top {
  margin-bottom: 104px;
}

.watch__hover .watch__caption {
  margin-bottom: 30px;
}

.watch__item.fourth .watch__caption {
  font-size: 36px;
}

.watch__first {
  width: 330px;
  padding-top: 260px;
}

.watch__item.fourth .watch__main {
  padding-bottom: 29px;
}

.watch__item.fourth:hover .watch__main {
  padding-bottom: 77px;
}

.roles {
  padding-bottom: 160px;
}

.roles__title {
  font-weight: 400;
  font-size: 72px;
  line-height: 129%;
  text-align: center;
  color: #d11938;
  margin-bottom: 109px;
}

.roles__block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 46px 77px;
  max-width: 1443px;
  width: 100%;
  margin: 0 auto;
}

.roles__image {
  margin-bottom: 50px;
}

.roles__name {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 129%;
  text-align: center;
  color: #000;
}

.footer {
  background: transparent url(../img/footer-bg.png) no-repeat center;
  background-size: 100% 100%;
  padding: 83px 0 96px;
  margin-top: -87px;
}

.footer__align {
  display: flex;
  justify-content: center;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
}

.footer__social {
  display: flex;
  align-items: center;
  gap: 19px;
  font-weight: 400;
  font-size: 24px;
  line-height: 129%;
  color: #fff;
  margin-bottom: 24px;
}

.footer__register {
  font-weight: 400;
  font-size: 24px;
  line-height: 129%;
  color: #fff;
  max-width: 816px;
  width: 100%;
  margin-bottom: 50px;
}

.footer__material {
  font-weight: 400;
  font-size: 24px;
  line-height: 129%;
  color: #fff;
  margin: 0;
}

.footer__link {
  display: block;
  font-weight: 400;
  font-size: 24px;
  line-height: 129%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: right;
  color: #fff;
}

.header__menu {
  display: none;
}

.header-mobile {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000 url(../img/header-mobile-bg.jpg) no-repeat center / cover;
  padding: 18px 0;
  overflow-y: auto;
  transform: translateX(100%);
  transition: 0.3s;
  opacity: 0;
}

.header-mobile.active {
  transform: translateX(0);
  opacity: 1;
}

.header-mobile__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 221px;
  padding-right: 13px;
}

.header-mobile__top .header__logo {
  width: 109px;
}

.header-mobile__close {
  padding: 0;
  background: none;
}

.header-mobile__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px;
  width: 100%;
}

.header-mobile__link {
  font-weight: 400;
  font-size: 32px;
  line-height: 129%;
  text-align: center;
  color: #fff;
}

.watch__pagination {
  display: none;
}

.watch__close {
  padding: 0;
  background: none;
  display: none;
}

@media (max-width: 1600px) {
  .header__nav {
    justify-content: center;
    gap: 45px;
  }
}

@media (max-width: 1300px) {
  .hero {
    background-image: url(../img/hero-bg-1300.jpg);
  }

  .header__nav {
    position: static;
    transform: initial;
    max-width: 100%;
    width: auto;
  }

  .header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }

  .story__grid {
    padding-right: 0;
    flex-direction: column;
    align-items: center;
  }

  .story__wrapper {
    max-width: 1100px;
  }

  .watch__title {
    font-size: 49px;
    text-shadow: 1px 6px #ccc;
  }

  .watch__first {
    width: 228px;
    padding-top: 194px;
  }

  .watch__top {
    margin-bottom: 120px;
  }

  .watch__play img {
    width: 70px;
  }

  .watch__align {
    margin-bottom: 30px;
  }

  .watch__suptitle {
    font-size: 24px;
    margin-bottom: 22px;
  }

  .watch__caption {
    font-size: 40px;
    padding: 0 55px;
  }

  .watch__item.fourth .watch__caption {
    font-size: 31px;
    padding: 0 9px;
  }

  .watch__item {
    max-width: 310px;
    border-radius: 30px;
  }

  .watch__description {
    font-size: 20px;
    min-height: 155px;
  }

  .watch__item.fourth:hover .watch__main {
    padding-bottom: 143px;
  }

  .watch {
    min-height: 692px;
  }
}

@media (max-width: 1100px) {
  .roles__block {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1000px) {
  .container {
    padding: 0 30px;
  }

  .header__logo {
    width: 150px;
  }

  .header__link {
    font-size: 26px;
  }

  .intro {
    padding-top: 30px;
  }

  .intro__image {
    width: 250px;
    margin-bottom: 40px;
  }

  .intro__flex {
    gap: 20px;
  }

  .intro__tag {
    font-size: 26px;
  }

  .intro__rating {
    font-size: 26px;
    padding: 9px 3px 8px 10px;
  }

  .intro__description {
    font-size: 22px;
    max-width: 456px;
    margin-bottom: 40px;
  }

  .intro__watch {
    padding: 33px 46px 31px 30px;
    border-radius: 47px;
    font-size: 23px;
  }

  .hero {
    padding-bottom: 60px;
  }
}

@media (max-width: 800px) {
  .roles__block {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .header__nav {
    display: none;
  }

  .header__menu {
    display: block;
    padding: 0;
    background: none;
  }

  .header {
    padding: 15px 0;
  }

  .container {
    padding: 0 15px;
  }

  .header__logo {
    width: 109px;
  }
}

@media (max-width: 600px) {
  .hero {
    background-image: url(../img/hero-bg-mobile.jpg);
    padding-bottom: 77px;
  }

  .header__top {
    padding-right: 14px;
  }

  .intro {
    padding-top: 304px;
  }

  .intro__image {
    width: 203px;
    margin-bottom: 23px;
  }

  .header {
    padding: 18px 0 0;
  }

  .intro__tag {
    font-size: 16px;
  }

  .intro__dot {
    width: 5px;
    height: 5px;
  }

  .intro__rating {
    font-size: 16px;
    border: 2px solid #fff;
    border-radius: 6px;
    max-width: 39px;
    padding-top: 8px;
    padding-bottom: 7px;
  }

  .intro__flex {
    gap: 15px;
    margin-bottom: 13px;
  }

  .intro__description {
    font-size: 15px;
    margin-bottom: 40px;
  }

  .intro__watch {
    max-width: 332px;
    width: 100%;
    text-align: center;
    position: relative;
    border-radius: 86px;
    padding: 20px 15px 19px;
    font-size: 16px;
    justify-content: center;
  }

  .intro__watch img {
    width: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 23px;
  }

  .main {
    padding-top: 30px;
  }

  .story__grid {
    gap: 45px;
  }

  .story__wrapper {
    padding-top: 0;
  }

  .story__title {
    font-size: 36px;
    margin-bottom: 30px;
  }

  .story__text {
    font-size: 15px;
  }

  .story {
    margin-bottom: 30px;
  }

  .roles__title {
    font-size: 36px;
    margin-bottom: 37px;
  }

  .roles__image {
    margin-bottom: 18px;
  }

  .roles__block {
    gap: 25px 28px;
    max-width: 322px;
  }

  .roles__name {
    font-size: 16px;
  }

  .roles {
    padding-bottom: 144px;
  }

  .footer {
    background-image: url(../img/footer-bg-mobile.png);
    padding: 54px 0 30px;
  }

  .footer__align {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
  }

  .footer__image {
    width: 100%;
  }

  .footer__social {
    font-size: 14px;
    gap: 14px;
    margin-bottom: 17px;
  }

  .footer__social img {
    width: 27px;
  }

  .footer__register {
    font-size: 14px;
    margin-bottom: 32px;
  }

  .footer__bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .footer__link {
    text-align: left;
    font-size: 14px;
  }

  .footer__material {
    font-size: 14px;
    margin-bottom: 32px;
    max-width: 271px;
  }

  .main {
    background-image: url(../img/main-bg-mobile.png);
    background-size: 100% auto;
    background-position: bottom;
  }

  .watch__first {
    width: 165px;
    padding-top: 154px;
  }

  .watch__title {
    font-size: 36px;
  }

  .watch__lines {
    width: 16px;
  }

  .watch__battery {
    width: 24px;
  }

  .watch__top {
    gap: 6px;
    margin-bottom: 146px;
  }

  .watch__main {
    padding: 15px 13px 32px;
  }

  .watch__play img {
    width: 68px;
  }

  .watch__align {
    margin-bottom: 23px;
  }

  .watch__suptitle {
    font-size: 15px;
    margin-bottom: 27px;
  }

  .watch__caption {
    font-size: 26px;
    padding: 0 15px;
  }

  .watch__item {
    max-width: 237px;
    border-radius: 20px;
  }

  .watch__pagination {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 46px;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 19px;
  }

  .watch__pagination .swiper-pagination-bullet {
    border-radius: 100%;
    width: 11px;
    height: 11px;
    background-color: #720187;
    opacity: 1;
    transition: 0.3s;
  }

  .watch__pagination .swiper-pagination-bullet-active {
    width: 21px;
    height: 21px;
  }

  .watch__item.fourth .watch__caption {
    font-size: 20px;
  }

  .watch {
    min-height: 596px;
  }

  .watch__title {
    text-shadow: none;
  }

  .watch__close {
    display: block;
  }

  .watch__hover .watch__lines,
  .watch__hover .watch__battery {
    display: none;
  }

  .watch__description {
    font-size: 15px;
    line-height: 140%;
    min-height: 144px;
    padding-left: 0;
    margin-bottom: 34px;
  }

  .watch__hover {
    padding: 19px 17px 30px;
  }

  .watch__bottom {
    font-size: 26px;
    gap: 14px;
  }

  .watch__bottom img {
    width: 54px;
  }

  .watch__hover .watch__top {
    margin-bottom: 63px;
  }

  .watch__hover .watch__align {
    margin-bottom: 0;
  }

  .watch__hover .watch__caption {
    margin-bottom: 45px;
  }

  .watch__hover .watch__suptitle {
    margin-bottom: 17px;
  }

  .watch__item.active {
    max-width: 293px;
  }

  .watch__item.fourth:hover .watch__main {
    padding-bottom: 77px;
  }

  body:has(.watch__item.active) .watch {
    min-height: 683px;
  }

  body:not(:has(.watch__item.active)) .watch {
    min-height: 596px;
  }
}